<div class="row">
    <div class="div1">
        <div id="experiencia">
            <section>
                <h1 class="heading titulo">Experiencia Laboral</h1>
                <div class="experiencia-block" *ngIf="isLogged">
                    <div style="text-align:center" *ngIf="isLogged">
                        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
                            <i class="bi bi-card-text"></i> Añadir Experiencia
                        </button>
                    </div>
                </div>

                <div class="experiencia-block" *ngFor="let Experiencia of expe">
                    <h3>{{Experiencia.nombreE}}</h3>
                    <h5>{{Experiencia.descripcionE}}</h5>
                    <img class="imagenes3" src="../../../assets/maletin.png">
                    <div style="float:right" *ngIf="isLogged">
                        <button class="btn btn-success" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                    </div>
                    <div style="float:right" *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </div>
                </div>
            </section>
        </div>
   </div>
</div>