<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="assets/fotoPerfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Juan I Benitez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <p style="color: #ffc107;
            font-size: 40px;">Acerca de esta pagina</p>
            <p>Podes hacer tu propio portafolio desde aca si necesidad de saber programar :)</p>
        </span>
    </div>
</div> 