.container{
    min-height: 100vh;
    background-color:black;
    padding: 10%;
    margin: 0 auto;
}

div{
    color: #fff;
}

label{
    padding: 5px;
}

button{
    margin-top: 20px;
    background: whitesmoke;
    
}