<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
                <img src="assets/APLogo.png" alt="logoAP" id="logoAP">
            </a>
        </div>
    
        <div class="redes">
            <a href="https://www.linkedin.com/in/juan-benitez1/" target="_blank"><img src="assets/linkedin.png" alt="Linkedin" id="linkedin"></a>
            <a href="https://github.com/PepeMuhica" target="_blank"><img src="assets/github.png" alt="GitHub" id="github"></a>
            
        </div>
        <button type="button" class="btn btn-outline-light boton" (click)="login()" *ngIf="!isLogged">INGRESO</button>
        <button type="button" class="btn btn-outline-light boton" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
    </div>
</div>
